<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acesso negado</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black min-h-svh flex">
    <div class="m-auto flex flex-col gap-y-2 items-center text-white">
      <div class="h-96">
        <img class="h-full" src="https://http.cat/403.jpg" alt="403" />
      </div>
      <h1 class="text-4xl font-bold">Acesso negado</h1>
      <p class="text-xl">
        O acesso a <span class="font-bold">{{ dominio }}</span> está bloqueado!
      </p>
      <a href="/" class="underline text-blue-600 hover:text-blue-700">
        Voltar para o início
      </a>
    </div>
  </body>
</html>
