<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proxy de Bloqueio e Filtragem</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black min-h-svh max-h-svh flex">
    <div
      class="grid-rows-[auto_1fr] text-white p-8 grid gap-8 grid-cols-2 mx-auto max-w-4xl"
    >
      <div class="space-y-2 col-span-2">
        <h1 class="text-4xl font-bold">Proxy de Bloqueio e Filtragem</h1>
        <p>
          Use este proxy para acessar sites. Ele bloqueará domínios na lista de
          bloqueados e filtrará palavrões do conteúdo HTML.
        </p>
        <p>Testar um domínio:</p>

        <form name="dominio" class="flex gap-x-2">
          <input
            name="acessar"
            type="text"
            value="facebook.com"
            class="bg-neutral-800 text-white font-mono py-1 px-2 rounded flex-1"
          />
          <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
          >
            Acessar
          </button>
        </form>
      </div>

      <div class="relative bg-neutral-800 rounded overflow-y-auto flex-1">
        <div class="bg-neutral-800 p-4 sticky top-0 border-b border-black">
          <h2 class="text-2xl mb-2">Sites Bloqueados</h2>
          <form name="dominios" class="grid grid-cols-3 gap-x-1">
            <input
              type="text"
              name="url"
              placeholder="URL"
              class="bg-black px-2 py-0.5 rounded col-span-2"
            />
            <button type="submit" class="bg-black py-0.5 rounded">
              Adicionar
            </button>
          </form>
        </div>

        <div class="p-4">
          <ul>
            {% for site in bloqueados %}
            <li class="flex items-center">
              <a href="{{ site }}" class="font-mono hover:underline mr-auto"
                >{{ site }}</a
              >
              <a
                href="?remover=url&url={{ site }}"
                class="text-red-500 text-sm hover:underline"
                >Remover</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="relative bg-neutral-800 rounded overflow-y-auto">
        <div class="bg-neutral-800 p-4 sticky top-0 border-b border-black">
          <h2 class="text-2xl mb-2">Palavrões Filtrados</h2>
          <form name="palavroes" class="grid grid-cols-3 gap-x-1">
            <input
              type="text"
              name="palavra"
              placeholder="Palavrão"
              class="bg-black px-2 py-0.5 rounded"
            />
            <input
              type="text"
              name="substituto"
              placeholder="Substituto"
              class="bg-black px-2 py-0.5 rounded"
            />
            <button type="submit" class="bg-black py-0.5 rounded">
              Adicionar
            </button>
          </form>
        </div>

        <div class="p-4">
          <ul>
            {% for palavrao, substituto in palavroes.items() %}
            <li class="flex items-center">
              <span class="font-mono mr-auto">{{ palavrao }}</span>
              <span class="font-mono mr-4">{{ substituto }}</span>
              <a
                href="?remover=palavra&palavra={{ palavrao }}"
                class="text-red-500 text-sm hover:underline"
                >Remover</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
