<nav
  class="z-1000 absolute -top-10 left-1/2 -translate-x-1/2 w-full max-w-2xl has-[:focus]:top-0 has-[:hover]:top-0 transition-all"
>
  <div class="w-full bg-black p-1 rounded-b-lg border-2 border-neutral-800">
    <form action="/" name="dominio" class="flex gap-x-2 text-sm text-white">
      <input
        name="acessar"
        type="text"
        value="{{ dominio }}"
        class="bg-neutral-800 font-mono py-0.5 px-2 rounded flex-1"
      />

      <button
        type="submit"
        class="bg-blue-600 hover:bg-blue-700 font-semibold py-0.5 px-4 rounded"
      >
        Acessar
      </button>

      <a
        href="/"
        class="block bg-neutral-800 hover:bg-neutral-800 font-semibold py-0.5 px-4 rounded"
      >
        Início
      </a>
    </form>
  </div>
  <div
    class="absolute top-9 -mt-0.5 left-1/2 -translate-x-1/2 w-16 h-6 bg-black border-2 border-neutral-800 border-t-black rounded-b-2xl"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-down-icon lucide-chevron-down text-white mx-auto"
    >
      <path d="m6 9 6 6 6-6" />
    </svg>
  </div>
</nav>
